series: jammy

applications:
  rabbitmq-server:
    series: focal
  nova-cloud-controller:
    series: focal
  neutron-api:
    series: focal
  keystone:
    series: focal
  ceph-radosgw:
    series: focal
  openstack-dashboard:
    series: focal